@using EXE201_Tutor_Web.Entities
<style>
    .flex-row-a-div {
        position: absolute;
        width: calc(1356 * var(--rpx));
        top: calc(227 * var(--rpx));
        left: 0;
        z-index: 46;
    }

    .line-div {
        position: absolute;
        width: calc(15 * var(--rpx));
        height: calc(800 * var(--rpx));
        top: 0;
        left: calc(610.5 * var(--rpx));
        background: linear-gradient(to top, rgba(23, 0, 168, 0.5), #A69FD400 60%), 
        linear-gradient(to right, rgba(23, 0, 168, 0.5), #A69FD400 50%);
        z-index: 16;
    }

    .group-div-1 {
        position: absolute;
        width: calc(613 * var(--rpx));
        height: calc(92 * var(--rpx));
        top: calc(60 * var(--rpx));
        left: 0;
        background-size: cover;
        background-color: #E6EDFF;
    }

    .group-div-2 {
        position: absolute;
        width: calc(613 * var(--rpx));
        height: calc(92 * var(--rpx));
        top: calc(185 * var(--rpx));
        left: 0;
        background-size: cover;
        background-color: #AEC3FA;
    }

    .group-div-3 {
        position: absolute;
        width: calc(613 * var(--rpx));
        height: calc(92 * var(--rpx));
        top: calc(315 * var(--rpx));
        left: 0;
        background-size: cover;
        background-color: #E6EDFF;
    }

    .group-div-4 {
        position: absolute;
        width: calc(613 * var(--rpx));
        height: calc(92 * var(--rpx));
        top: calc(445 * var(--rpx));
        left: 0;
        background-size: cover;
        background-color: #E6EDFF;
    }

    .group-div-0 {
        position: absolute;
        width: calc(48.000003814697266 * var(--rpx));
        height: calc(48.000003814697266 * var(--rpx));
        top: calc(21 * var(--rpx));
        left: calc(154 * var(--rpx));
        background: url(../img/course/Circle.png) no-repeat center;
        background-size: cover;
        z-index: 20;
    }

    .rectangle-div {
        position: absolute;
        width: calc(115 * var(--rpx));
        height: calc(39 * var(--rpx));
        top: calc(27 * var(--rpx));
        left: calc(213 * var(--rpx));
        background: #e6edff;
        z-index: 5;
        border-radius: calc(37 * var(--rpx));
    }

    .tuan-span {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        width: calc(165 * var(--rpx));
        height: calc(21 * var(--rpx));
        top: calc(35 * var(--rpx));
        left: calc(187 * var(--rpx));
        color: #614ce0;
        font-family: Inter, var(--default-font-family);
        font-size: calc(27 * var(--rpx));
        font-weight: 600;
        line-height: calc(21 * var(--rpx));
        text-align: center;
        white-space: nowrap;
        z-index: 6;
    }

    .rectangle-5 {
        position: absolute;
        width: calc(662 * var(--rpx));
        height: calc(181 * var(--rpx));
        top: calc(60 * var(--rpx));
        left: calc(694 * var(--rpx));
        background: #cdd8ff;
        z-index: 46;
        border-radius: calc(28 * var(--rpx));
    }

    .div-topic {
        position: relative;
        width: calc(562 * var(--rpx));
        height: calc(56 * var(--rpx));
        margin: calc(66 * var(--rpx)) 0 0 calc(39 * var(--rpx));
        font-family: Inter, var(--default-font-family);
        font-size: calc(20 * var(--rpx));
        font-weight: 500;
        line-height: calc(24.204544067382812 * var(--rpx));
        text-align: left;
        text-overflow: initial;
        white-space: nowrap;
        z-index: 47;
    }

    .span-topic {
        position: relative;
        color: #614ce0;
        font-family: Inter, var(--default-font-family);
        font-size: calc(20 * var(--rpx));
        font-weight: 800;
        line-height: calc(24.204544067382812 * var(--rpx));
        text-align: left;
    }

    .span-topic-6 {
        position: relative;
        color: #614ce0;
        font-family: Inter, var(--default-font-family);
        font-size: calc(20 * var(--rpx));
        font-weight: 500;
        line-height: calc(24.204544067382812 * var(--rpx));
        text-align: left;
    }

    .line {
        position: absolute;
        width: calc(2 * var(--rpx));
        height: calc(410 * var(--rpx));
        top: calc(88 * var(--rpx));
        left: calc(179 * var(--rpx));
        background-size: cover;
        z-index: 14;
        background-color: #3420B3;
    }

    .group {
        position: absolute;
        width: calc(48.000003814697266 * var(--rpx));
        height: calc(48.000003814697266 * var(--rpx));
        top: calc(206 * var(--rpx));
        left: calc(155 * var(--rpx));
        background: url(../img/course/Circle.png) no-repeat center;
        background-size: cover;
        z-index: 17;
    }

    .button-group {
        position: absolute;
        width: calc(115 * var(--rpx));
        height: calc(39 * var(--rpx));
        top: calc(210 * var(--rpx));
        left: calc(213 * var(--rpx));
        cursor: pointer;
        background: transparent;
        background: no-repeat center;
        background-size: cover;
        border: none;
        z-index: 1;
        border-radius: calc(37 * var(--rpx));
        background-color: #e6edff;
    }

    .span-week {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        width: calc(165 * var(--rpx));
        height: calc(21 * var(--rpx));
        top: calc(220 * var(--rpx));
        left: calc(185 * var(--rpx));
        color: #614ce0;
        font-family: Inter, var(--default-font-family);
        font-size: calc(27 * var(--rpx));
        font-weight: 600;
        line-height: calc(21 * var(--rpx));
        text-align: center;
        white-space: nowrap;
        z-index: 7;
    }

    .line-7 {
        position: absolute;
        width: calc(2 * var(--rpx));
        height: calc(268 * var(--rpx));
        top: calc(339 * var(--rpx));
        left: calc(744 * var(--rpx));
        background-size: cover;
        z-index: 30;
        background-color: #3420B3;
    }

    .line-8 {
        position: absolute;
        width: calc(827 * var(--rpx));
        height: calc(2 * var(--rpx));
        top: calc(518 * var(--rpx));
        left: calc(613 * var(--rpx));
        background: url(./assets/images/31065a7c-fc36-4d26-bda7-50a412e2f578.png) no-repeat center;
        background-size: cover;
        z-index: 15;
        background-color: #3420B3;
    }

    .flex-row {
        position: absolute;
        width: calc(1257 * var(--rpx));
        height: calc(60.000003814697266 * var(--rpx));
        top: calc(552 * var(--rpx));
        left: calc(155 * var(--rpx));
        z-index: 33;
    }

    .button-group-9 {
        position: absolute;
        width: calc(156.2820587158203 * var(--rpx));
        height: calc(53 * var(--rpx));
        top: 0;
        left: calc(1097 * var(--rpx));
        cursor: pointer;
        background: transparent;
        background: no-repeat center;
        background-size: cover;
        border: none;
        z-index: 8;
        border-radius: calc(37 * var(--rpx));
        background-color: #614DE1;
    }

    .group-a {
        position: absolute;
        width: calc(48.000003814697266 * var(--rpx));
        height: calc(48.000003814697266 * var(--rpx));
        top: calc(2 * var(--rpx));
        left: calc(565 * var(--rpx));
        background: url(../img/course/Circle.png) no-repeat center;
        background-size: cover;
        z-index: 33;
    }

    .button-group-b {
        position: absolute;
        width: calc(115 * var(--rpx));
        height: calc(39 * var(--rpx));
        top: calc(7 * var(--rpx));
        left: calc(625 * var(--rpx));
        cursor: pointer;
        background: transparent;
        background: no-repeat center;
        background-size: cover;
        border: none;
        z-index: 22;
        border-radius: calc(37 * var(--rpx));
    }

    .bat-dau {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        width: calc(165 * var(--rpx));
        height: calc(21 * var(--rpx));
        top: calc(15 * var(--rpx));
        left: calc(1092 * var(--rpx));
        color: #ffffff;
        font-family: Inter, var(--default-font-family);
        font-size: calc(27 * var(--rpx));
        font-weight: 600;
        line-height: calc(21 * var(--rpx));
        text-align: center;
        white-space: nowrap;
        z-index: 9;
    }

    .video {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        width: calc(165 * var(--rpx));
        height: calc(21 * var(--rpx));
        top: calc(10 * var(--rpx));
        left: calc(600 * var(--rpx));
        color: #614ce0;
        font-family: Inter, var(--default-font-family);
        font-size: calc(27 * var(--rpx));
        font-weight: 600;
        line-height: calc(21 * var(--rpx));
        text-align: center;
        white-space: nowrap;
        z-index: 23;
    }

    .group-c {
        position: absolute;
        width: calc(48.000003814697266 * var(--rpx));
        height: calc(48.000003814697266 * var(--rpx));
        top: calc(12 * var(--rpx));
        left: 0;
        background: url(../img/course/Circle.png) no-repeat center;
        background-size: cover;
        z-index: 18;
    }

    .rectangle-d {
        position: absolute;
        width: calc(115 * var(--rpx));
        height: calc(39 * var(--rpx));
        top: calc(17 * var(--rpx));
        left: calc(59 * var(--rpx));
        cursor: pointer;
        background: #e6edff;
        border: none;
        z-index: 11;
        border-radius: calc(37 * var(--rpx));
    }

    .tuan-3 {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        width: calc(165 * var(--rpx));
        height: calc(21 * var(--rpx));
        top: calc(27 * var(--rpx));
        left: calc(33 * var(--rpx));
        color: #614ce0;
        font-family: Inter, var(--default-font-family);
        font-size: calc(27 * var(--rpx));
        font-weight: 600;
        line-height: calc(21 * var(--rpx));
        text-align: center;
        white-space: nowrap;
        z-index: 12;
    }

    .flex-row-b {
        position: absolute;
        width: calc(813 * var(--rpx));
        height: calc(62.000003814697266 * var(--rpx));
        top: calc(679 * var(--rpx));
        left: calc(156 * var(--rpx));
        z-index: 31;
    }

    .group-e {
        position: absolute;
        width: calc(48.000003814697266 * var(--rpx));
        height: calc(48.000003814697266 * var(--rpx));
        top: 0;
        left: calc(565 * var(--rpx));
        background: url(../img/course/Circle.png) no-repeat center;
        background-size: cover;
        z-index: 31;
    }

    .group-f {
        position: absolute;
        width: calc(189 * var(--rpx));
        height: calc(39 * var(--rpx));
        top: calc(3 * var(--rpx));
        left: calc(624 * var(--rpx));
        background-size: cover;
        z-index: 25;
        border-radius: calc(37 * var(--rpx));
    }

    .documents {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        width: calc(165 * var(--rpx));
        height: calc(21 * var(--rpx));
        top: calc(2 * var(--rpx));
        left: calc(13 * var(--rpx));
        color: #614ce0;
        font-family: Inter, var(--default-font-family);
        font-size: calc(27 * var(--rpx));
        font-weight: 600;
        line-height: calc(21 * var(--rpx));
        text-align: center;
        white-space: nowrap;
        z-index: 26;
    }

    .group-10 {
        position: absolute;
        width: calc(48.000003814697266 * var(--rpx));
        height: calc(48.000003814697266 * var(--rpx));
        top: calc(14 * var(--rpx));
        left: 0;
        background: url(../img/course/Circle.png) no-repeat center;
        background-size: cover;
        z-index: 19;
    }

    .group-11 {
        position: absolute;
        width: calc(115 * var(--rpx));
        height: calc(39 * var(--rpx));
        top: calc(22 * var(--rpx));
        left: calc(57 * var(--rpx));
        cursor: pointer;
        background: transparent;
        background: no-repeat center;
        background-size: cover;
        border: none;
        z-index: 2;
        border-radius: calc(37 * var(--rpx));
        background-color: #E6EDFF;
    }

    .tuan-4 {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        width: calc(165 * var(--rpx));
        height: calc(21 * var(--rpx));
        top: calc(32 * var(--rpx));
        left: calc(31 * var(--rpx));
        color: #614ce0;
        font-family: Inter, var(--default-font-family);
        font-size: calc(27 * var(--rpx));
        font-weight: 600;
        line-height: calc(21 * var(--rpx));
        text-align: center;
        white-space: nowrap;
        z-index: 13;
    }

    .flex-row-d {
        position: absolute;
        width: calc(197 * var(--rpx));
        height: calc(48.000003814697266 * var(--rpx));
        top: calc(810 * var(--rpx));
        left: calc(721 * var(--rpx));
        z-index: 32;
    }

    .group-12 {
        position: absolute;
        width: calc(48.000003814697266 * var(--rpx));
        height: calc(48.000003814697266 * var(--rpx));
        top: 0;
        left: 0;
        background: url(../img/course/Circle.png) no-repeat center;
        background-size: cover;
        z-index: 32;
    }

    .group-13 {
        position: absolute;
        width: calc(113 * var(--rpx));
        height: calc(39 * var(--rpx));
        top: calc(2 * var(--rpx));
        left: calc(60 * var(--rpx));
        cursor: pointer;
        background: transparent;
        background: no-repeat center;
        background-size: cover;
        border: none;
        z-index: 28;
        border-radius: calc(37 * var(--rpx));
    }

    .quiz {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        width: calc(165 * var(--rpx));
        height: calc(21 * var(--rpx));
        top: calc(5 * var(--rpx));
        left: calc(32 * var(--rpx));
        color: #614ce0;
        font-family: Inter, var(--default-font-family);
        font-size: calc(27 * var(--rpx));
        font-weight: 600;
        line-height: calc(21 * var(--rpx));
        text-align: center;
        white-space: nowrap;
        z-index: 29;
    }

    .flex-row,
    .flex-row-b,
    .flex-row-d {
       z-index: 100 ;
       pointer-events: none;
    }

        .flex-row a,
        .flex-row-b a,
        .flex-row-d a {
            pointer-events: auto;
        }

    a:hover {
        color: #E6EDFF; 
    }
</style>
@{
    int courseraId = 0;
    int courseDetailId = 0;

    if (TempData["CourseraId"] != null && TempData["CourseraDetailId"] != null)
    {
        courseraId = int.Parse(TempData["CourseraId"].ToString());
        courseDetailId = int.Parse(TempData["CourseraDetailId"].ToString());
    }
}
<div class="flex-row-a-div">
    <div class="line-div"></div>
    <a href="@Url.Action("UniversityEnglishCourseFirstWeek", "Course", new { courseraId = courseraId })" class="group-div-1">
        <div class="group-div-0"></div>
        <div class="rectangle-div"></div>
        <span class="tuan-span">Tuần 1</span>
    </a>
    <div class="rectangle-5">
        <div class="div-topic">
            <span class="span-topic">Tuần 2 gồm từ vựng xoay quanh cụm động từ:<br /></span><span class="span-topic-6">
                Các từ cơ bản - Go - Come <br /> Get - Take - Look
            </span>
        </div>
    </div>
    <div class="line"></div>
    <div class="group"></div>
    <div class="button-group">
    </div>
    <span class="span-week">Tuần 2</span>
    <div class="line-7"></div>
    <a class="group-div-2"></a>
    <a href="@Url.Action("UniversityEnglishCourseThirdWeek", "Course", new { courseraId = courseraId })" class="group-div-3"></a>
    <a href="@Url.Action("UniversityEnglishCourseFourthWeek", "Course", new { courseraId = courseraId })" class="group-div-4"></a>
</div>
<div class="line-8"></div>
<div class="flex-row">
    <span class="tuan-3">Tuần 3</span>
    <div class="group-a"></div>
    <div class="button-group-b">
    </div>
    <span class="video">Video</span>
    <div class="group-c">
    </div>
    <div class="rectangle-d">
    </div>
    <div class="button-group-9">
    </div>
    <a href="@Url.Action("UniversityEnglishCourseSecondWeekVideo", "Course", new { courseDetailId = courseDetailId, codeName = "video" })" class="bat-dau">Bắt đầu</a>
</div>
<div class="flex-row-b">
    <div class="group-e"></div>
    <div class="group-f"><span class="documents">Documents</span></div>
    <div class="group-10"></div>
    <div class="group-11"></div>
    <span class="tuan-4">Tuần 4</span>
</div>
<div class="flex-row-d">
    <div class="group-12"></div>
    <button class="group-13"></button><span class="quiz">Quiz</span>
</div>