<style>
    .ellipse {
        position: absolute;
        width: calc(358 * var(--rpx));
        height: calc(358 * var(--rpx));
        top: calc(268 * var(--rpx));
        left: calc(879 * var(--rpx));
        background: url(./assets/images/3d9cb856-f308-4d0c-ace4-398f2e52420a.png) no-repeat center;
        background-size: cover;
        z-index: 21;
        border-radius: 50%;
    }

    .thanh-tuu {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        width: calc(432 * var(--rpx));
        height: calc(61 * var(--rpx));
        top: calc(350 * var(--rpx));
        left: calc(151 * var(--rpx));
        color: #1700a7;
        font-family: Inter, var(--default-font-family);
        font-size: calc(50 * var(--rpx));
        font-weight: 800;
        line-height: calc(60.5113639831543 * var(--rpx));
        text-align: center;
        white-space: nowrap;
        z-index: 24;
    }

    .rectangle-5 {
        position: absolute;
        width: calc(1446 * var(--rpx));
        height: calc(574 * var(--rpx));
        top: calc(450 * var(--rpx));
        left: 0;
        background: #f7f9ff;
        z-index: 14;
    }

    .container-flex-row-cb {
        display: flex;
        flex-wrap: nowrap;
        flex-direction:column;
        width: calc(650 * var(--rpx));
    }

    .flex-row-cb {
        position: relative;
        width: calc(650 * var(--rpx));
        height: calc(170 * var(--rpx));
        margin: calc(33 * var(--rpx)) 0 0 calc(77 * var(--rpx));
        z-index: 27;
    }

    .rectangle-6 {
        position: absolute;
        width: calc(168 * var(--rpx));
        height: calc(170 * var(--rpx));
        top: 0;
        left: 0;
        background: url(./assets/images/c321bb992e83fc5ae60cb9cf2bc9fba4a680fc9d.png) no-repeat center;
        background-size: cover;
        z-index: 22;
        border-radius: calc(170.5 * var(--rpx));
    }

    .rectangle-7 {
        position: absolute;
        width: calc(376 * var(--rpx));
        height: calc(166 * var(--rpx));
        top: 0;
        left: calc(195 * var(--rpx));
        background: #cdd8ff;
        z-index: 25;
        border-radius: calc(28 * var(--rpx));
    }

    .time {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        height: calc(31 * var(--rpx));
        top: calc(128 * var(--rpx));
        left: calc(28 * var(--rpx));
        color: #614ce0;
        font-family: Inter, var(--default-font-family);
        font-size: calc(23 * var(--rpx));
        font-weight: 500;
        line-height: calc(27.83522605895996 * var(--rpx));
        text-align: left;
        white-space: nowrap;
        z-index: 29;
    }

    .ngu-phap-tieng-anh-co-ban {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        width: calc(300 * var(--rpx));
        height: calc(87 * var(--rpx));
        top: calc(33 * var(--rpx));
        left: calc(219 * var(--rpx));
        color: #614ce0;
        font-family: Inter, var(--default-font-family);
        font-size: calc(35 * var(--rpx));
        font-weight: 700;
        line-height: calc(42.35795211791992 * var(--rpx));
        text-align: left;
        text-overflow: initial;
        z-index: 27;
        overflow: hidden;
    }

    .line {
        position: absolute;
        width: calc(35 * var(--rpx));
        height: calc(2 * var(--rpx));
        top: calc(67 * var(--rpx));
        left: calc(1221 * var(--rpx));
        background: url(./assets/images/730e01f5-fdf5-4351-8898-649f28578eaa.png) no-repeat center;
        background-size: cover;
        z-index: 13;
    }

    .flex-row-cc {
        position: relative;
        top: calc(400 * var(--rpx));
        width: calc(600 * var(--rpx));
        left: calc(650 * var(--rpx));
        height: calc(186 * var(--rpx));
        margin: calc(29 * var(--rpx)) 0 0 calc(77 * var(--rpx));
        z-index: 28;
    }

    .ho-va-ten {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        height: calc(38 * var(--rpx));
        top: 0;
        color: #614ce0;
        font-family: Inter, var(--default-font-family);
        font-size: calc(24 * var(--rpx));
        font-weight: 500;
        line-height: calc(29.045454025268555 * var(--rpx));
        text-align: left;
        white-space: nowrap;
        z-index: 18;
    }

    .section-3 {
        position: absolute;
        width: calc(571 * var(--rpx));
        height: calc(186 * var(--rpx));
        top: 0;
        left: 0;
        z-index: 26;
    }

    .rectangle-8 {
        position: absolute;
        width: calc(168 * var(--rpx));
        height: calc(170 * var(--rpx));
        top: calc(12 * var(--rpx));
        left: 0;
        background: url(./assets/images/3bb3a2f5595668b366994461aa93a474014fe617.png) no-repeat center;
        background-size: cover;
        z-index: 23;
        border-radius: calc(170.5 * var(--rpx));
    }

    .rectangle-9 {
        position: absolute;
        width: calc(376 * var(--rpx));
        height: calc(127 * var(--rpx));
        top: calc(33 * var(--rpx));
        left: calc(195 * var(--rpx));
        cursor: pointer;
        font-size: 0px;
        background: #cdd8ff;
        border: none;
        z-index: 26;
        border-radius: calc(28 * var(--rpx));
    }

    .c-co-ban {
        display: block;
        position: relative;
        height: calc(42 * var(--rpx));
        margin: calc(28 * var(--rpx)) 0 0 calc(28 * var(--rpx));
        color: #614ce0;
        font-family: Inter, var(--default-font-family);
        font-size: calc(35 * var(--rpx));
        font-weight: 700;
        line-height: calc(42 * var(--rpx));
        text-align: left;
        white-space: nowrap;
        z-index: 28;
    }

    .time-span {
        display: block;
        position: relative;
        height: calc(31 * var(--rpx));
        margin: calc(8 * var(--rpx)) 0 0 calc(28 * var(--rpx));
        color: #614ce0;
        font-family: Inter, var(--default-font-family);
        font-size: calc(23 * var(--rpx));
        font-weight: 500;
        line-height: calc(27.83522605895996 * var(--rpx));
        text-align: left;
        white-space: nowrap;
        z-index: 30;
    }

    .rectangle-div {
        border:none;
        position: relative;
        width: calc(517 * var(--rpx));
        height: calc(59 * var(--rpx));
        background: #e6edff;
        z-index: 15;
        overflow: hidden;
        border-radius: calc(28 * var(--rpx));
        font-size: calc(25 * var(--rpx));
        color: #614ce0;
        padding-left: calc(15 * var(--rpx));
    }

    .email-span {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        height: calc(38 * var(--rpx));
        top: calc(94 * var(--rpx));
        left: calc(729 * var(--rpx));
        color: #614ce0;
        font-family: Inter, var(--default-font-family);
        font-size: calc(24 * var(--rpx));
        font-weight: 500;
        line-height: calc(29.045454025268555 * var(--rpx));
        text-align: left;
        white-space: nowrap;
        z-index: 19;
    }

    .rectangle-div-a {
        position: absolute;
        width: calc(517 * var(--rpx));
        height: calc(59 * var(--rpx));
        top: calc(127 * var(--rpx));
        left: calc(722 * var(--rpx));
        padding-left: calc(10 * var(--rpx));
        background: #e6edff;
        z-index: 16;
        overflow: hidden;
        border-radius: calc(28 * var(--rpx));
    }

    .rectangle-button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: calc(180 * var(--rpx));
        height: calc(59 * var(--rpx));
        cursor: pointer;
        background: #c1d2ff;
        border: none;
        z-index: 20;
        border-radius: calc(28 * var(--rpx));
    }

    .change-span {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-shrink: 0;
        position: relative;
        width: calc(148 * var(--rpx));
        height: calc(21 * var(--rpx));
        color: #614ce0;
        font-family: Inter, var(--default-font-family);
        font-size: calc(24 * var(--rpx));
        font-weight: 600;
        line-height: calc(21 * var(--rpx));
        text-align: center;
        white-space: nowrap;
        z-index: 20;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 88px;
        position: relative;
        object-fit: cover;
    }

    .group-information{
        height: calc(100 * var(--rpx));
        margin-bottom: calc(30 * var(--rpx));
    }
</style>
<div class="ellipse">
    <img src="../img/header/avatar.jpg" />
</div>
<div class="flex-row-cc">
    <div class="group-information">
        <span class="ho-va-ten">Họ và tên</span>
        <input class="rectangle-div"/>
    </div>
    <div class="group-information">
        <span class="ho-va-ten">Họ và tên</span>
        <input class="rectangle-div"/>
    </div>
    <div class="group-information">
        <span class="ho-va-ten">Họ và tên</span>
        <input class="rectangle-div"/>
    </div>
    <div class="group-information">
        <span class="ho-va-ten">Họ và tên</span>
        <input class="rectangle-div" />
    </div>
    <div class="group-information">
        <span class="ho-va-ten">Họ và tên</span>
        <input class="rectangle-div" />
    </div>
    <button class="rectangle-button">
        <span class="change-span">Thay đổi</span>
    </button>
</div>
<span class="thanh-tuu">THÀNH TỰU</span>
<div class="rectangle-5" id="rectangle-5">
    <div class="container-flex-row-cb">
        <div class="flex-row-cb">
            <a href="#" class="rectangle-6">
                <img src="~/img/course/english.png" />
            </a>
            <div class="rectangle-7">
                <span class="time">Time: 07/Th06 - 07/Th07</span>
            </div>
            <span class="ngu-phap-tieng-anh-co-ban">Ngữ Pháp <br />Tiếng Anh Cơ Bản</span>
            <div class="line"></div>
        </div>
        <div class="flex-row-cb">
            <a href="#" class="rectangle-6">
                <img src="~/img/course/english.png" />

            </a>
            <div class="rectangle-7">
                <span class="time">Time: 07/Th06 - 07/Th07</span>
            </div>
            <span class="ngu-phap-tieng-anh-co-ban">Ngữ Pháp <br />Tiếng Anh Cơ Bản</span>
            <div class="line"></div>    
        </div>
        <div class="flex-row-cb">
            <a href="#" class="rectangle-6">
                <img src="~/img/course/english.png" />
            </a>
            <div class="rectangle-7">
                <span class="time">Time: 07/Th06 - 07/Th07</span>
            </div>
            <span class="ngu-phap-tieng-anh-co-ban">Ngữ Pháp <br />Tiếng Anh Cơ Bản</span>
            <div class="line"></div>
        </div>
        <div class="flex-row-cb">
            <a href="#" class="rectangle-6">
                <img src="~/img/course/english.png" />
            </a>
            <div class="rectangle-7">
                <span class="time">Time: 07/Th06 - 07/Th07</span>
            </div>
            <span class="ngu-phap-tieng-anh-co-ban">Ngữ Pháp <br />Tiếng Anh Cơ Bản</span>
            <div class="line"></div>
        </div>
    </div>
</div>
<script>
    // Hàm tính toán và cập nhật độ cao
    function updateHeight(selector, heightPerItem, mainSelector) {
        var elements = document.querySelectorAll(selector);
        var line = document.querySelector(mainSelector);

        var numberOfItems = elements.length;
        var lineLength = heightPerItem * (numberOfItems);

        line.style.height = "calc(" + lineLength + " * var(--rpx))";
    }

    function getHeight(selector, heightPerItem, mainSelector) {
        var elements = document.querySelectorAll(selector);
        var lineLength = heightPerItem * elements.length;
        return lineLength;
    }

    document.addEventListener("DOMContentLoaded", function () {
        var lineLengthFlexRowCb = getHeight('.flex-row-cb', 400, '.main-container-2-2');
        var lineLengthGroupInformation = getHeight('.group-information', 300, '.main-container-2-2');

        if (lineLengthFlexRowCb > lineLengthGroupInformation) {
            updateHeight('.flex-row-cb', 400, '.main-container-2-2');
            updateHeight('.flex-row-cb', 400, '.rectangle-5');
        } else {
            updateHeight('.group-information', 300, '.main-container-2-2');
            updateHeight('.group-information', 300, '.rectangle-5');
        }
    });

</script>


