<div class="NgKThNhCNg" style="width: 364px; height: 70px; left: 42%; top: 872px; position: absolute; text-align: center; color: #1700A8; font-size: 36px; font-family: Inter; font-weight: 700; word-wrap: break-word">Đăng ký thành công </div>
<div class="QuayVTrangCh" style="width: 216px; height: 38px; left: 47%; top: 933px; position: absolute; color: #614DE1; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Quay về trang chủ </div>
<img class="Rectangle44" style="width: 844px; height: 600px; left: 25%; top: 300px; position: absolute" src="~/img/happy_student.png" />
