<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-success" role="alert">
                Thanh toán thành công!
            </div>
        </div>
    </div>
</div>